<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top row p-4" id="menu-principal">
    <div class="col col-sm-2 float-right-sm">
        <a class="navbar-brand" href="#">
            <img src="~../../../assets/img/logo.png" class="img-fluid p-3" width="270" height="54" alt="" >
        </a>

    </div>
    <div class="col menu-principal pr-5">
        <div class="collapse navbar-collapse float-right" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link scroll-hoolum" href="#apresentacao" style="transition: all .25s linear;">apresentação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-hoolum" href="#servicos" style="transition: all .25s linear;">serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-hoolum" href="#portfolio" style="transition: all .25s linear;">portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-hoolum" href="#depoimentos" style="transition: all .25s linear;">depoimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-hoolum" href="#contato" style="transition: all .25s linear;">contato</a>
                </li>
            </ul>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
