<div class="row p-5" id="depoimentos">
        <div class="col-12 text-center pt-5">
            <h2 class="display-4 text-center col-12 titulo pt-5">depoimentos</h2>
            <h3 class="text-center col-12 subtitulo subtitulo-sm-hoolum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</h3>
        </div>
    <div class="row p-5">
        <div class="col">
            <div class="card p-5 mb-4 text-center">
                <img src="~../../../assets/img/depoimentos/NR705beN_CU.jpg" class="card-img-top img-rounded-hoolum mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5 class="card-title title-depoimento">depoimento a</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-5 mb-4 text-center">
                <img src="~../../../assets/img/depoimentos/IHIgnhLvz5Q.jpg" class="card-img-top img-rounded-hoolum mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5 class="card-title title-depoimento">depoimento b</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-5 mb-4 text-center">
                <img src="~../../../assets/img/depoimentos/nd0AqhGk5ZI.jpg" class="card-img-top img-rounded-hoolum mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5 class="card-title title-depoimento">depoimento c</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-5 mb-4 text-center">
                <img src="~../../../assets/img/depoimentos/pg_WCHWSdT8.jpg" class="card-img-top img-rounded-hoolum mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5 class="card-title title-depoimento">depoimento d</h5>
                </div>
            </div>
        </div>
    </div>
</div>
