<div class="row p-5" id="portfolio">
        <div class="row d-flex justify-content-center p-5">
            <div class="row p-5">
                <h2 class="display-4 text-center col-lg-3 col-sm-12 titulo pt-5">portfólio</h2>
                <div class="col-1"></div>
                <h3 class="text-center col-lg-7 col-sm-12 subtitulo pt-5 subtitulo-sm-hoolum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</h3>
            </div>
        </div>

    <div class="row m-5">
        <div class="col-12 pt-0 pb-0 pl-5 pr-5 d-flex justify-content-center">
                <figure class="col-md-3 p-0 mb-0">
                    <a href="~../../../assets/img/portfolio/7fwSiZM.jpg" class="showcase" data-rel="lightcase:myCollection" data-lc-title="Guardiões da Galaxia Vol.2">
                    <img alt="picture" src="~../../../assets/img/portfolio/7fwSiZM.jpg" title="Guardiões da Galaxia Vol.2" alt="Guardiões da Galaxia Vol.2" class="img-fluid" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-3 p-0 mb-0">
                    <a href="~../../../assets/img/portfolio/afuTSMi.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Capitão América 3: Guerra Civil">
                    <img alt="picture" src="~../../../assets/img/portfolio/afuTSMi.jpg"  title="Capitão América 3: Guerra Civil" alt="Capitão América 3: Guerra Civil" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-3 p-0 mb-0">
                    <a href="~../../../assets/img/portfolio/BueI8Ml.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Os Vingadores">
                    <img alt="picture" src="~../../../assets/img/portfolio/BueI8Ml.jpg" title="Os Vingadores" alt="Os Vingadores" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-3 p-0 mb-0">
                    <a href="~~../../../assets/img/portfolio/dwlZeTO.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Vingadores: Ultimato">
                    <img alt="picture" src="~../../../assets/img/portfolio/dwlZeTO.jpg" title="Vingadores: Ultimato" alt="Vingadores: Ultimato" class="img-fluid" />
                    </a>
                </figure>
        </div>

        <div class="col-12 pt-0 pb-0 pl-5 pr-5 d-flex justify-content-center">
                <figure class="col-md-3 p-0">
                    <a href="~../../../assets/img/portfolio/uPDmk9E.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Vingadores: Guerra Inifinita">
                        <img alt="picture" src="~../../../assets/img/portfolio/uPDmk9E.jpg" class="img-fluid">
                    </a>
                </figure>

                <figure class="col-md-3 p-0">
                    <a href="~~../../../assets/img/portfolio/F270PWq.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Guardiões da Galáxia Vol.1">
                        <img alt="picture" src="~../../../assets/img/portfolio/F270PWq.jpg" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-3 p-0">
                    <a href="~../../../assets/img/portfolio/iNUGSAY.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Homem Formiga">
                        <img alt="picture" src="~../../../assets/img/portfolio/iNUGSAY.jpg" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-3 p-0">
                    <a href="~../../../assets/img/portfolio/oqfzwd5.jpg" data-size="1600x1067" data-rel="lightcase:myCollection" data-lc-title="Capitão Marvel">
                        <img alt="picture" src="~../../../assets/img/portfolio/oqfzwd5.jpg" class="img-fluid" />
                    </a>
                </figure>
            </div>
    </div>
</div>
