<div class="row pt-5" id="apresentacao">
    <div id="carouselExampleSlidesOnly" class="carousel slide pt-5" data-ride="carousel">
        <div class="carousel-inner pt-lg-4">
            <div class="carousel-item active altura-carosel">
                <img class="d-block w-100" src="~../../assets/img/carosel/mQiZnKwGXW0.jpg" alt="First slide">
                <div class="carousel-caption position-absolute d-md-block" style="top:170px;">
                    <h6 class="text-right titulo-auxiliar">UM STUDIO DE DESIGN CENTRADO NO USUÁRIO</h6>
                    <h4 class="display-4 titulo text-right">Crie conosco o seu produto <br>digital com qualidade</h4>
                    <p class="subtitulo subtitulo-sm text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</p>
                    <button type="button" class="btn btn-primary btn-hoolum btn-lg float-right pl-5 pr-5 pt-3 pb-3" data-toggle="modal" data-target="#exampleModal"><h6>AGENDAR ATENDIMENTO</h6></button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content p-4">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agendar Atendimento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form class="" action="" method="">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">seu nome</label>
                                    <input type="text" class="form-control form-control-lg" id="">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="exampleInputEmail1">email</label>
                                        <input type="email" class="form-control form-control-lg" id="">
                                    </div>
                                    <div class="col">
                                        <label for="exampleInputEmail1">telefone</label>
                                        <input type="text" class="form-control form-control-lg" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">mensagem</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary">AGENDAR</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item altura-carosel">
                <img class="d-block w-100" src="~../../assets/img/carosel/4NZlogMPIp0.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block" style="top:170px;">
                    <h6 class="text-right titulo-auxiliar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                    <h4 class="display-4 titulo text-right">Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</h4>
                    <p class="subtitulo text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</p>
                    <button type="button" class="btn btn-danger btn-lg float-right pl-5 pr-5 pt-3 pb-3"><h6>AGENDAR ATENDIMENTO</h6></button>
                </div>
            </div>
            <div class="carousel-item altura-carosel">
                <img class="d-block w-100" src="~../../assets/img/carosel/v3bWNXeInQA.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block" style="top:170px;">
                    <h6 class="text-right titulo-auxiliar">UM STUDIO DE DESIGN CENTRADO NO USUÁRIO</h6>
                    <h4 class="display-4 titulo text-right">Crie conosco o seu produto <br>digital com qualidade</h4>
                    <p class="subtitulo text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</p>
                    <button type="button" class="btn btn-info btn-lg float-right pl-5 pr-5 pt-3 pb-3"><h6>AGENDAR ATENDIMENTO</h6></button>
                </div>
            </div>
        </div>
    </div>
</div>
