<div class="row pt-5 pb-5 mx-auto" id="servicos">
    <section class="col-12 pt-5">
            <div class="row text-center pt-5">
                    <h2 class="display-4 text-center col-12 titulo pt-5">serviços</h2>
                    <h3 class="text-center col-12 subtitulo subtitulo-sm-hoolum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</h3>
            </div>
        <div class="row p-5">
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">fingerprint</i>
                        <h4 class="card-title">serviço a</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">receipt</i>
                        <h4 class="card-title">serviço b</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-sm-4">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">view_quilt</i>
                        <h4 class="card-title">serviço c</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">today</i>
                        <h4 class="card-title">serviço d</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-5">
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">g_translate</i>
                        <h4 class="card-title">serviço e</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">line_style</i>
                        <h4 class="card-title">serviço f</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">question_answer</i>
                        <h4 class="card-title">serviço g</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 card-servicos mb-4">
                    <div class="card-body">
                        <i class="material-icons text-hoolum icon-md-hoolum">all_out</i>
                        <h4 class="card-title">serviço h</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
