<section class="p-5" id="contato">
    <div class="row d-flex justify-content-center p-5">
        <div class="row pt-5">
            <h2 class="display-4 text-center col-lg-3 col-sm-12 titulo pt-5">contato</h2>
            <h3 class="text-center col-lg-8 col-sm-12 subtitulo pt-5 subtitulo-sm-hoolum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc senectus orci magna arcu dolor. Venenatis egestas habitant.</h3>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-lg-3 col-sm-12 mb-5 mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.533103262171!2d-34.9033318853341!3d-8.046974882600962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18e4eb9cffbd%3A0xf2d043bdf49cf3c1!2sCondom%C3%ADnio%20Empresarial%20Rui%20Barbosa%20-%20Av.%20Rui%20Barbosa%2C%20715%20-%20Gra%C3%A7as%2C%20Recife%20-%20PE%2C%2052011-040!5e0!3m2!1spt-BR!2sbr!4v1568233719151!5m2!1spt-BR!2sbr" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <div class="col-1"></div>

        <div class="col-lg-7 col-sm-12 contato-hoolum">
            <form class="formulario-contato" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">seu nome</label>
                    <input type="text" class="form-control form-control-lg" id="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="exampleInputEmail1">email</label>
                        <input type="email" class="form-control form-control-lg" id="">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1">telefone</label>
                        <input type="text" class="form-control form-control-lg" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col d-flex align-items-center">
                        <a href="https://www.facebook.com" target="_blank" class="mr-2">
                            <img src="~../../../assets/img/icons/svg/001-facebook.svg" style="width:40px; height:40px;" />
                        </a>
                        <a href="https://www.linkedin.com" target="_blank" class="mr-2">
                            <img src="~../../../assets/img/icons/svg/002-linkedin.svg" style="width:40px; height:40px;" />
                        </a>
                        <a href="https://www.instagram.com" target="_blank" target="_blank">
                            <img src="~../../../assets/img/icons/svg/003-instagram.svg" style="width:40px; height:40px;" />
                        </a>
                    </div>
                    <div class="col pt-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-hoolum  pl-5 pr-5 pt-3 pb-3">entre em contato</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
